---
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
import BaseLayout from '../layouts/BaseLayout.astro'
import PostCard from '../components/PostCard.astro'
---
<BaseLayout>
	<main>
		<section>
			<h1> Content collection Overview</h1>
		</section>

		<section class="post-wrapper">
			<h2>posts</h2>
			<div>
				{posts.map((post)=> (
					<PostCard post={post} hide={[]}/>
				))}
			</div>
		</section>
	</main>
	</BaseLayout>